{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="entry-content">
                    <h2>Get In touch with us</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem
                        ipsum dolor sit amet, conse ctetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris tempus vestib ulum mauris quis aliquam. Integer accu msan sodales odio, id tempus velit
                        ullamc.</p>

                    <ul class="contact-social d-flex flex-wrap align-items-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                    <ul class="contact-info p-0">
                        <li><i class="fa fa-phone"></i><span>+254 741 924065</span></li>
                        <li><i class="fa fa-envelope"></i><span>thepivotclub@gmail.com</span></li>
                        <li><i class="fa fa-map-marker"></i><span>Kenyatta University, Nairobi</span>
                        </li>
                    </ul>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-7">
                <form class="contact-form" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                    {{ form.subject.label_tag }}
                    {{ form.subject }}
                    {{ form.subject.errors }}
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    {{ form.message.errors }}

                    <span>
                        <input class="btn gradient-bg" type="submit" value="Contact us">
                    </span>
                </form><!-- .contact-form -->

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>
{% endblock %}